This quickstart guide explains how to join two tables A and B using edit distance measure. First, you need to import the required packages as follows (if you have installed **py_stringsimjoin** it will automatically install the dependencies **py_stringmatching** and **pandas**):

In [41]:
# Import libraries
import py_stringsimjoin as ssj
import py_stringmatching as sm
import pandas as pd
import os, sys

In [42]:
print('python version: ' + sys.version)
print('py_stringsimjoin version: ' + ssj.__version__)
print('py_stringmatching version: ' + sm.__version__)
print('pandas version: ' + pd.__version__)

python version: 3.6.4 |Anaconda, Inc.| (default, Jan 16 2018, 18:10:19)
[GCC 7.2.0]
py_stringsimjoin version: 0.2.0
py_stringmatching version: 0.4.0
pandas version: 0.22.0

Joining two tables using edit distance measure typically consists of three steps:
1. Loading the input tables
2. Profiling the tables
3. Performing the join

# 1. Loading the input tables

We begin by loading the two tables. For the purpose of this guide, 
we use the sample dataset that comes with the package.

In [46]:
# construct the path of the tables to be loaded. Since we are loading a 
# dataset from the package, we need to access the data from the path 
# where the package is installed. If you need to load your own data, you can directly
# provide your table path to the read_csv command.

table_A_path = os.sep.join([ssj.get_install_path(), 'datasets', 'data', 'imdb_A.csv'])
table_B_path = os.sep.join([ssj.get_install_path(), 'datasets', 'data', 'imdb_B.csv'])

In [48]:
# Load csv files as dataframes.
A = pd.read_csv(table_A_path,error_bad_lines=False)
B = pd.read_csv(table_B_path,error_bad_lines=False)
print('Number of records in A: ' + str(len(A)))
print('Number of records in B: ' + str(len(B)))

Number of records in A: 9901
Number of records in B: 9818

b'Skipping line 137: expected 6 fields, saw 7\nSkipping line 356: expected 6 fields, saw 7\nSkipping line 376: expected 6 fields, saw 7\nSkipping line 423: expected 6 fields, saw 7\nSkipping line 527: expected 6 fields, saw 7\nSkipping line 528: expected 6 fields, saw 8\nSkipping line 557: expected 6 fields, saw 7\nSkipping line 565: expected 6 fields, saw 7\nSkipping line 592: expected 6 fields, saw 7\nSkipping line 733: expected 6 fields, saw 7\nSkipping line 918: expected 6 fields, saw 7\nSkipping line 922: expected 6 fields, saw 7\nSkipping line 979: expected 6 fields, saw 7\nSkipping line 1152: expected 6 fields, saw 9\nSkipping line 1263: expected 6 fields, saw 7\nSkipping line 1337: expected 6 fields, saw 7\nSkipping line 1471: expected 6 fields, saw 7\nSkipping line 1485: expected 6 fields, saw 7\nSkipping line 1500: expected 6 fields, saw 7\nSkipping line 1646: expected 6 fields, saw 7\nSkipping line 1652: expected 6 fields, saw 7\nSkipping line 2038: expected 6 fields, saw 7\nSkipping line 2335: expected 6 fields, saw 7\nSkipping line 2343: expected 6 fields, saw 7\nSkipping line 2362: expected 6 fields, saw 7\nSkipping line 2376: expected 6 fields, saw 7\nSkipping line 2417: expected 6 fields, saw 7\nSkipping line 2462: expected 6 fields, saw 7\nSkipping line 2463: expected 6 fields, saw 7\nSkipping line 2465: expected 6 fields, saw 7\nSkipping line 2529: expected 6 fields, saw 7\nSkipping line 2725: expected 6 fields, saw 7\nSkipping line 2931: expected 6 fields, saw 7\nSkipping line 3023: expected 6 fields, saw 7\nSkipping line 3097: expected 6 fields, saw 7\nSkipping line 3116: expected 6 fields, saw 7\nSkipping line 3203: expected 6 fields, saw 7\nSkipping line 3246: expected 6 fields, saw 7\nSkipping line 3248: expected 6 fields, saw 7\nSkipping line 3278: expected 6 fields, saw 8\nSkipping line 3285: expected 6 fields, saw 7\nSkipping line 3453: expected 6 fields, saw 7\nSkipping line 3493: expected 6 fields, saw 7\nSkipping line 3537: expected 6 fields, saw 7\nSkipping line 3725: expected 6 fields, saw 7\nSkipping line 3742: expected 6 fields, saw 7\nSkipping line 3767: expected 6 fields, saw 7\nSkipping line 3803: expected 6 fields, saw 7\nSkipping line 3816: expected 6 fields, saw 9\nSkipping line 4055: expected 6 fields, saw 7\nSkipping line 4390: expected 6 fields, saw 7\nSkipping line 4407: expected 6 fields, saw 7\nSkipping line 4728: expected 6 fields, saw 8\nSkipping line 4929: expected 6 fields, saw 8\nSkipping line 5100: expected 6 fields, saw 7\nSkipping line 5107: expected 6 fields, saw 7\nSkipping line 5217: expected 6 fields, saw 7\nSkipping line 5244: expected 6 fields, saw 7\nSkipping line 5378: expected 6 fields, saw 7\nSkipping line 5412: expected 6 fields, saw 8\nSkipping line 5551: expected 6 fields, saw 7\nSkipping line 5570: expected 6 fields, saw 7\nSkipping line 5658: expected 6 fields, saw 7\nSkipping line 5718: expected 6 fields, saw 7\nSkipping line 5814: expected 6 fields, saw 7\nSkipping line 5836: expected 6 fields, saw 8\nSkipping line 5950: expected 6 fields, saw 7\nSkipping line 5978: expected 6 fields, saw 7\nSkipping line 5981: expected 6 fields, saw 7\nSkipping line 6228: expected 6 fields, saw 8\nSkipping line 6243: expected 6 fields, saw 7\nSkipping line 6316: expected 6 fields, saw 7\nSkipping line 6395: expected 6 fields, saw 7\nSkipping line 6402: expected 6 fields, saw 7\nSkipping line 6701: expected 6 fields, saw 7\nSkipping line 6739: expected 6 fields, saw 7\nSkipping line 6865: expected 6 fields, saw 7\nSkipping line 6867: expected 6 fields, saw 8\nSkipping line 6868: expected 6 fields, saw 8\nSkipping line 6893: expected 6 fields, saw 7\nSkipping line 7042: expected 6 fields, saw 7\nSkipping line 7049: expected 6 fields, saw 7\nSkipping line 7058: expected 6 fields, saw 7\nSkipping line 7068: expected 6 fields, saw 8\nSkipping line 7124: expected 6 fields, saw 7\nSkipping line 7150: expected 6 fields, saw 7\nSkipping line 7156: expected 6 fields, saw 7\nSkipping line 7176: expected 6 fields, saw 9\nSkipping line 7272: expected 6 fields, saw 8\nSkipping line 7305: expected 6 fields, saw 7\nSkipping line 7352: expected 6 fields, saw 7\nSkipping line 7415: expected 6 fields, saw 7\nSkipping line 7434: expected 6 fields, saw 8\nSkipping line 7561: expected 6 fields, saw 7\nSkipping line 7711: expected 6 fields, saw 7\nSkipping line 7767: expected 6 fields, saw 7\nSkipping line 7844: expected 6 fields, saw 7\nSkipping line 7929: expected 6 fields, saw 7\nSkipping line 8079: expected 6 fields, saw 7\nSkipping line 8199: expected 6 fields, saw 7\nSkipping line 8253: expected 6 fields, saw 7\nSkipping line 8263: expected 6 fields, saw 7\nSkipping line 8273: expected 6 fields, saw 7\nSkipping line 8282: expected 6 fields, saw 7\nSkipping line 8289: expected 6 fields, saw 7\nSkipping line 8343: expected 6 fields, saw 7\nSkipping line 8363: expected 6 fields, saw 7\nSkipping line 8493: expected 6 fields, saw 7\nSkipping line 8613: expected 6 fields, saw 7\nSkipping line 8621: expected 6 fields, saw 7\nSkipping line 8623: expected 6 fields, saw 8\nSkipping line 8677: expected 6 fields, saw 7\nSkipping line 8741: expected 6 fields, saw 7\nSkipping line 8779: expected 6 fields, saw 7\nSkipping line 8882: expected 6 fields, saw 7\nSkipping line 9076: expected 6 fields, saw 7\nSkipping line 9258: expected 6 fields, saw 7\nSkipping line 9307: expected 6 fields, saw 7\nSkipping line 9451: expected 6 fields, saw 7\nSkipping line 9502: expected 6 fields, saw 7\nSkipping line 9623: expected 6 fields, saw 7\nSkipping line 9646: expected 6 fields, saw 7\nSkipping line 9651: expected 6 fields, saw 7\nSkipping line 9712: expected 6 fields, saw 7\nSkipping line 9733: expected 6 fields, saw 7\nSkipping line 9734: expected 6 fields, saw 7\nSkipping line 9957: expected 6 fields, saw 7\nSkipping line 9966: expected 6 fields, saw 8\nSkipping line 9986: expected 6 fields, saw 7\nSkipping line 10031: expected 6 fields, saw 7\n'
b'Skipping line 133: expected 6 fields, saw 7\nSkipping line 286: expected 6 fields, saw 7\nSkipping line 307: expected 6 fields, saw 7\nSkipping line 328: expected 6 fields, saw 7\nSkipping line 376: expected 6 fields, saw 8\nSkipping line 377: expected 6 fields, saw 7\nSkipping line 415: expected 6 fields, saw 7\nSkipping line 662: expected 6 fields, saw 7\nSkipping line 853: expected 6 fields, saw 7\nSkipping line 872: expected 6 fields, saw 7\nSkipping line 903: expected 6 fields, saw 9\nSkipping line 926: expected 6 fields, saw 7\nSkipping line 933: expected 6 fields, saw 7\nSkipping line 949: expected 6 fields, saw 7\nSkipping line 1015: expected 6 fields, saw 7\nSkipping line 1056: expected 6 fields, saw 7\nSkipping line 1179: expected 6 fields, saw 7\nSkipping line 1181: expected 6 fields, saw 7\nSkipping line 1284: expected 6 fields, saw 7\nSkipping line 1290: expected 6 fields, saw 7\nSkipping line 1293: expected 6 fields, saw 7\nSkipping line 1300: expected 6 fields, saw 7\nSkipping line 1302: expected 6 fields, saw 7\nSkipping line 1372: expected 6 fields, saw 8\nSkipping line 1404: expected 6 fields, saw 7\nSkipping line 1461: expected 6 fields, saw 7\nSkipping line 1541: expected 6 fields, saw 7\nSkipping line 1588: expected 6 fields, saw 7\nSkipping line 1692: expected 6 fields, saw 7\nSkipping line 1696: expected 6 fields, saw 7\nSkipping line 1721: expected 6 fields, saw 7\nSkipping line 1724: expected 6 fields, saw 7\nSkipping line 1726: expected 6 fields, saw 7\nSkipping line 1773: expected 6 fields, saw 8\nSkipping line 1796: expected 6 fields, saw 7\nSkipping line 1837: expected 6 fields, saw 7\nSkipping line 1874: expected 6 fields, saw 7\nSkipping line 1878: expected 6 fields, saw 7\nSkipping line 1892: expected 6 fields, saw 7\nSkipping line 1900: expected 6 fields, saw 7\nSkipping line 1940: expected 6 fields, saw 7\nSkipping line 1949: expected 6 fields, saw 7\nSkipping line 1969: expected 6 fields, saw 7\nSkipping line 2034: expected 6 fields, saw 7\nSkipping line 2035: expected 6 fields, saw 7\nSkipping line 2217: expected 6 fields, saw 7\nSkipping line 2468: expected 6 fields, saw 7\nSkipping line 2498: expected 6 fields, saw 7\nSkipping line 2563: expected 6 fields, saw 7\nSkipping line 2602: expected 6 fields, saw 7\nSkipping line 2612: expected 6 fields, saw 7\nSkipping line 2620: expected 6 fields, saw 7\nSkipping line 2654: expected 6 fields, saw 7\nSkipping line 2739: expected 6 fields, saw 7\nSkipping line 2753: expected 6 fields, saw 8\nSkipping line 2789: expected 6 fields, saw 7\nSkipping line 2796: expected 6 fields, saw 7\nSkipping line 2812: expected 6 fields, saw 7\nSkipping line 2845: expected 6 fields, saw 7\nSkipping line 2981: expected 6 fields, saw 7\nSkipping line 3051: expected 6 fields, saw 7\nSkipping line 3096: expected 6 fields, saw 7\nSkipping line 3105: expected 6 fields, saw 7\nSkipping line 3190: expected 6 fields, saw 7\nSkipping line 3267: expected 6 fields, saw 7\nSkipping line 3367: expected 6 fields, saw 7\nSkipping line 3450: expected 6 fields, saw 7\nSkipping line 3592: expected 6 fields, saw 9\nSkipping line 3612: expected 6 fields, saw 7\nSkipping line 3632: expected 6 fields, saw 7\nSkipping line 3645: expected 6 fields, saw 7\nSkipping line 3653: expected 6 fields, saw 7\nSkipping line 3659: expected 6 fields, saw 7\nSkipping line 3752: expected 6 fields, saw 8\nSkipping line 3851: expected 6 fields, saw 7\nSkipping line 3877: expected 6 fields, saw 7\nSkipping line 3915: expected 6 fields, saw 7\nSkipping line 3929: expected 6 fields, saw 7\nSkipping line 3931: expected 6 fields, saw 7\nSkipping line 4042: expected 6 fields, saw 7\nSkipping line 4086: expected 6 fields, saw 7\nSkipping line 4252: expected 6 fields, saw 7\nSkipping line 4259: expected 6 fields, saw 7\nSkipping line 4290: expected 6 fields, saw 8\nSkipping line 4512: expected 6 fields, saw 7\nSkipping line 4563: expected 6 fields, saw 7\nSkipping line 4719: expected 6 fields, saw 7\nSkipping line 4869: expected 6 fields, saw 7\nSkipping line 4901: expected 6 fields, saw 7\nSkipping line 4910: expected 6 fields, saw 7\nSkipping line 4953: expected 6 fields, saw 7\nSkipping line 4983: expected 6 fields, saw 7\nSkipping line 5011: expected 6 fields, saw 7\nSkipping line 5025: expected 6 fields, saw 9\nSkipping line 5033: expected 6 fields, saw 9\nSkipping line 5042: expected 6 fields, saw 7\nSkipping line 5118: expected 6 fields, saw 7\nSkipping line 5153: expected 6 fields, saw 7\nSkipping line 5168: expected 6 fields, saw 7\nSkipping line 5198: expected 6 fields, saw 7\nSkipping line 5248: expected 6 fields, saw 8\nSkipping line 5253: expected 6 fields, saw 7\nSkipping line 5269: expected 6 fields, saw 7\nSkipping line 5361: expected 6 fields, saw 7\nSkipping line 5392: expected 6 fields, saw 7\nSkipping line 5416: expected 6 fields, saw 7\nSkipping line 5504: expected 6 fields, saw 7\nSkipping line 5538: expected 6 fields, saw 7\nSkipping line 5587: expected 6 fields, saw 7\nSkipping line 5648: expected 6 fields, saw 8\nSkipping line 5653: expected 6 fields, saw 8\nSkipping line 5743: expected 6 fields, saw 7\nSkipping line 5746: expected 6 fields, saw 7\nSkipping line 5750: expected 6 fields, saw 7\nSkipping line 5828: expected 6 fields, saw 7\nSkipping line 5887: expected 6 fields, saw 7\nSkipping line 6077: expected 6 fields, saw 7\nSkipping line 6107: expected 6 fields, saw 8\nSkipping line 6133: expected 6 fields, saw 7\nSkipping line 6161: expected 6 fields, saw 8\nSkipping line 6171: expected 6 fields, saw 7\nSkipping line 6178: expected 6 fields, saw 7\nSkipping line 6182: expected 6 fields, saw 7\nSkipping line 6237: expected 6 fields, saw 7\nSkipping line 6295: expected 6 fields, saw 7\nSkipping line 6360: expected 6 fields, saw 7\nSkipping line 6426: expected 6 fields, saw 7\nSkipping line 6469: expected 6 fields, saw 7\nSkipping line 6470: expected 6 fields, saw 7\nSkipping line 6714: expected 6 fields, saw 7\nSkipping line 6794: expected 6 fields, saw 7\nSkipping line 6809: expected 6 fields, saw 7\nSkipping line 6849: expected 6 fields, saw 8\nSkipping line 6909: expected 6 fields, saw 8\nSkipping line 6914: expected 6 fields, saw 7\nSkipping line 6942: expected 6 fields, saw 7\nSkipping line 6967: expected 6 fields, saw 7\nSkipping line 6968: expected 6 fields, saw 7\nSkipping line 6983: expected 6 fields, saw 7\nSkipping line 6986: expected 6 fields, saw 8\nSkipping line 6993: expected 6 fields, saw 7\nSkipping line 7035: expected 6 fields, saw 7\nSkipping line 7052: expected 6 fields, saw 8\nSkipping line 7068: expected 6 fields, saw 7\nSkipping line 7088: expected 6 fields, saw 7\nSkipping line 7160: expected 6 fields, saw 7\nSkipping line 7175: expected 6 fields, saw 7\nSkipping line 7405: expected 6 fields, saw 7\nSkipping line 7463: expected 6 fields, saw 7\nSkipping line 7516: expected 6 fields, saw 7\nSkipping line 7559: expected 6 fields, saw 7\nSkipping line 7596: expected 6 fields, saw 7\nSkipping line 7634: expected 6 fields, saw 7\nSkipping line 7650: expected 6 fields, saw 7\nSkipping line 7678: expected 6 fields, saw 7\nSkipping line 7680: expected 6 fields, saw 7\nSkipping line 7800: expected 6 fields, saw 7\nSkipping line 7809: expected 6 fields, saw 7\nSkipping line 7819: expected 6 fields, saw 7\nSkipping line 7827: expected 6 fields, saw 7\nSkipping line 7835: expected 6 fields, saw 7\nSkipping line 8009: expected 6 fields, saw 7\nSkipping line 8012: expected 6 fields, saw 7\nSkipping line 8131: expected 6 fields, saw 7\nSkipping line 8184: expected 6 fields, saw 7\nSkipping line 8325: expected 6 fields, saw 7\nSkipping line 8352: expected 6 fields, saw 7\nSkipping line 8370: expected 6 fields, saw 7\nSkipping line 8558: expected 6 fields, saw 7\nSkipping line 8612: expected 6 fields, saw 7\nSkipping line 8675: expected 6 fields, saw 7\nSkipping line 8689: expected 6 fields, saw 8\nSkipping line 8775: expected 6 fields, saw 7\nSkipping line 8827: expected 6 fields, saw 8\nSkipping line 8835: expected 6 fields, saw 8\nSkipping line 8892: expected 6 fields, saw 8\nSkipping line 8894: expected 6 fields, saw 7\nSkipping line 8901: expected 6 fields, saw 8\nSkipping line 8926: expected 6 fields, saw 8\nSkipping line 8940: expected 6 fields, saw 7\nSkipping line 9014: expected 6 fields, saw 7\nSkipping line 9042: expected 6 fields, saw 7\nSkipping line 9056: expected 6 fields, saw 7\nSkipping line 9135: expected 6 fields, saw 7\nSkipping line 9161: expected 6 fields, saw 8\nSkipping line 9199: expected 6 fields, saw 7\nSkipping line 9289: expected 6 fields, saw 7\nSkipping line 9404: expected 6 fields, saw 8\nSkipping line 9513: expected 6 fields, saw 7\nSkipping line 9530: expected 6 fields, saw 7\nSkipping line 9601: expected 6 fields, saw 7\nSkipping line 9624: expected 6 fields, saw 7\nSkipping line 9697: expected 6 fields, saw 7\nSkipping line 9830: expected 6 fields, saw 7\nSkipping line 9880: expected 6 fields, saw 7\nSkipping line 9884: expected 6 fields, saw 7\nSkipping line 9984: expected 6 fields, saw 7\nSkipping line 9992: expected 6 fields, saw 7\nSkipping line 10012: expected 6 fields, saw 8\n'

In [49]:
A

,ID,name,year,director,writers,actors
0,1,The Martian,2015,Ridley Scott,Drew Goddard; Andy Weir,Matt Damon; Jessica Chastain; Kristen Wiig
1,2,The Green Inferno,2013,Eli Roth,Guillermo Amoedo; Eli Roth,Lorenza Izzo; Ariel Levy; Aaron Burns
2,3,Everest,2015,Baltasar Kormákur,William Nicholson; Simon Beaufoy,Jason Clarke; Ang Phula Sherpa; Thomas M. Wright
3,4,Sicario,2015,Denis Villeneuve,Taylor Sheridan,Emily Blunt; Josh Brolin; Benicio Del Toro
4,5,The Intern(I),2015,Nancy Meyers,Nancy Meyers,Robert De Niro; Anne Hathaway; Rene Russo
5,6,Black Mass(I),2015,Scott Cooper,Mark Mallouk; Jez Butterworth,Johnny Depp; Benedict Cumberbatch; Dakota Johnson
6,7,Hotel Transylvania 2,2015,Genndy Tartakovsky,Robert Smigel; Adam Sandler,Adam Sandler; Andy Samberg; Selena Gomez
7,8,Maze Runner: The Scorch Trials,2015,Wes Ball,T.S. Nowlin; James Dashner,Dylan O'Brien; Kaya Scodelario; Thomas Brodie-Sangster
8,9,The Visit(I),2015,M. Night Shyamalan,M. Night Shyamalan,Olivia DeJonge; Ed Oxenbould; Deanna Dunagan
9,10,Spectre,2015,Sam Mendes,John Logan; Neal Purvis,Daniel Craig; Christoph Waltz; Ralph Fiennes
10,11,Mad Max: Fury Road,2015,George Miller,George Miller; Brendan McCarthy,Tom Hardy; Charlize Theron; Nicholas Hoult
11,12,The Walk(II),2015,Robert Zemeckis,Robert Zemeckis; Christopher Browne,Joseph Gordon-Levitt; Charlotte Le Bon; Guillaume Baillargeon
12,13,The Revenant,2015,Alejandro González Iñárritu,Alejandro González Iñárritu; Michael Punke,Tom Hardy; Leonardo DiCaprio; Will Poulter
13,14,Tomorrowland,2015,Brad Bird,Damon Lindelof; Brad Bird,George Clooney; Britt Robertson; Hugh Laurie
14,15,Star Wars: Episode VII - The Force Awakens,2015,J.J. Abrams,J.J. Abrams; Lawrence Kasdan,Harrison Ford; Mark Hamill; Carrie Fisher
15,16,Terminator Genisys,2015,Alan Taylor,Laeta Kalogridis; Patrick Lussier,Arnold Schwarzenegger; Jason Clarke; Emilia Clarke
16,17,Avengers: Age of Ultron,2015,Joss Whedon,Joss Whedon; Stan Lee,Robert Downey Jr.; Chris Evans; Mark Ruffalo
17,18,San Andreas,2015,Brad Peyton,Carlton Cuse; Andre Fabrizio,Dwayne Johnson; Carla Gugino; Alexandra Daddario
18,19,Pan,2015,Joe Wright,Jason Fuchs; J.M. Barrie,Levi Miller; Hugh Jackman; Garrett Hedlund
19,20,Jurassic World,2015,Colin Trevorrow,Rick Jaffa; Amanda Silver,Chris Pratt; Bryce Dallas Howard; Ty Simpkins
20,21,Crimson Peak,2015,Guillermo del Toro,Guillermo del Toro; Matthew Robbins,Mia Wasikowska; Jessica Chastain; Tom Hiddleston
21,22,The Big Short,2015,Adam McKay,Michael Lewis; Adam McKay,Brad Pitt; Christian Bale; Karen Gillan
22,23,Mission: Impossible - Rogue Nation,2015,Christopher McQuarrie,Christopher McQuarrie; Christopher McQuarrie,Tom Cruise; Rebecca Ferguson; Jeremy Renner
23,24,Inside Out(I),2015,Pete Docter; Ronnie Del Carmen,Pete Docter; Ronnie Del Carmen,Amy Poehler; Bill Hader; Lewis Black
24,25,Shingeki no kyojin,2015,Shinji Higuchi,Hajime Isayama; Yûsuke Watanabe,Haruma Miura; Kiko Mizuhara; Kanata Hongô
25,26,Pitch Perfect 2,2015,Elizabeth Banks,Kay Cannon; Mickey Rapkin,Anna Kendrick; Rebel Wilson; Hailee Steinfeld
26,27,Macbeth(I),2015,Justin Kurzel,Jacob Koskoff; Michael Lesslie,Marion Cotillard; Michael Fassbender; Elizabeth Debicki
27,28,Batman v Superman: Dawn of Justice,2016,Zack Snyder,Chris Terrio; David S. Goyer,Ben Affleck; Henry Cavill; Amy Adams
28,29,Interstellar,2014,Christopher Nolan,Jonathan Nolan; Christopher Nolan,Matthew McConaughey; Anne Hathaway; Jessica Chastain
29,30,Spy,2015,Paul Feig,Paul Feig,Melissa McCarthy; Rose Byrne; Jude Law
...,...,...,...,...,...,...
9871,10001,Gardens of the Night,2008,Damian Harris,Damian Harris,Gillian Jacobs; John Malkovich; Ryan Simpkins
9872,10002,Island in the Sky,1953,William A. Wellman,Ernest K. Gann; Ernest K. Gann,John Wayne; Lloyd Nolan; Walter Abel
9873,10003,Ice Station Zebra,1968,John Sturges,Alistair MacLean; Douglas Heyes,Rock Hudson; Ernest Borgnine; Patrick McGoohan
9874,10004,A Little Trip to Heaven,2005,Baltasar Kormákur,Edward Martin Weinman; Baltasar Kormákur,Kharl Anton Leigh; Peter Coyote; Forest Whitaker
9875,10005,Swiss Army Man,,Dan Kwan; Daniel Scheinert,Dan Kwan; Daniel Scheinert,Daniel Radcliffe; Mary Elizabeth Winstead; Paul Dano
9876,10006,The Gourmet Detective: A Healthy Place to Die,2015,Scott Smith,Dawn DeKeyser; Dylan Neal,Brooke Burns; Dylan Neal; Steve Valentine
9877,10007,The Million Dollar Hotel,2000,Wim Wenders,Bono; Nicholas Klein,Jeremy Davies; Milla Jovovich; Mel Gibson
9878,10008,Watermelon Man,1970,Melvin Van Peebles,Herman Raucher,Godfrey Cambridge; Estelle Parsons; Howard Caine
9879,10009,Link,1986,Richard Franklin,Lee David Zlotoff; Tom Ackermann,Terence Stamp; Elisabeth Shue; Steven Pinner
9880,10010,Killing Lincoln,2013,Adrian Moat,Erik Jendresen; Bill O'Reilly,Tom Hanks; Regen Wilson; Billy Campbell
9881,10011,Psycho IV: The Beginning,1990,Mick Garris,Joseph Stefano; Robert Bloch,Anthony Perkins; CCH Pounder; Henry Thomas
9882,10012,Pretty Maids All in a Row,1971,Roger Vadim,Gene Roddenberry; Francis Pollini,Rock Hudson; Angie Dickinson; Telly Savalas
9883,10013,Simon Killer,2012,Antonio Campos,Antonio Campos; Antonio Campos,Brady Corbet; Mati Diop; Lila Salet
9884,10014,Viridiana,1961,Luis Buñuel,Julio Alejandro; Luis Buñuel,Silvia Pinal; Fernando Rey; Francisco Rabal
9885,10015,Bambi II,2006,Brian Pimental,Brian Pimental; Jeanne Rosenberg,Patrick Stewart; Alexander Gould; Keith Ferguson
9886,10016,Enas Allos Kosmos,2015,Christoforos Papakaliatis,Christoforos Papakaliatis,J.K. Simmons; Christoforos Papakaliatis; Andrea Osvárt
9887,10017,The Chair(II),2007,Brett Sullivan,Michael Capellupo,Alanna Chisholm; Lauren Roy; Nick Abraham
9888,10018,Jesus' Son,1999,Alison Maclean,Denis Johnson; Elizabeth Cuthrell,Billy Crudup; Robert Michael Kelly; Torben Brooks
9889,10019,William &amp; Kate,2011,Mark Rosman,Nancey Silvers,Camilla Luddington; Nico Evers-Swindell; Samantha Whittaker
9890,10020,Amen.,2002,Costa-Gavras,Costa-Gavras; Jean-Claude Grumberg,Ulrich Tukur; Mathieu Kassovitz; Ulrich Mühe
9891,10021,The Grey Zone,2001,Tim Blake Nelson,Miklos Nyiszli; Tim Blake Nelson,David Arquette; Velizar Binev; David Chandler
9892,10022,Immoral Women,1979,Walerian Borowczyk,Walerian Borowczyk; André Pieyre de Mandiargues,Marina Pierro; Gaëlle Legrand; Pascale Christophe
9893,10023,The Corruptor,1999,James Foley,Robert Pucci,Yun-Fat Chow; Mark Wahlberg; Ric Young
9894,10024,White Heat,1949,Raoul Walsh,Ivan Goff; Ben Roberts,James Cagney; Virginia Mayo; Edmond O'Brien
9895,10025,The Kid &amp; I,2005,Penelope Spheeris,Tom Arnold,Tom Arnold; Joe Mantegna; Eric Gores
9896,10026,A Very Murray Christmas,2015,Sofia Coppola,Sofia Coppola; Mitch Glazer,George Clooney; Miley Cyrus; Bill Murray
9897,10027,The Vicious Kind,2009,Lee Toland Krieger,Lee Toland Krieger,Adam Scott; Brittany Snow; Alex Frost
9898,10028,Ils se marièrent et eurent beaucoup d'enfants,2004,Yvan Attal,Yvan Attal,Johnny Depp; Charlotte Gainsbourg; Sébastien Vidal
9899,10029,Jing wu ying xiong,1994,Gordon Chan,Gordon Chan; Jack Maeby,Jet Li; Shinobu Nakayama; Siu-Ho Chin
9900,10031,Martyrs,2015,Kevin Goetz; Michael Goetz,Pascal Laugier; Mark L. Smith,Troian Bellisario; Kate Burton; Caitlin Carmichael

In [50]:
B

,ID,title,year,director(s),writer(s),actor(s)
0,0,Jurassic World,2015.0,Colin Trevorrow,Rick Jaffa;Amanda Silver;Derek Connolly;Colin Trevorrow,Chris Pratt;Bryce Dallas Howard;Jake Johnson;Judy Greer
1,1,The Martian,2015.0,Ridley Scott,Drew Goddard;Andy Weir,Matt Damon;Jessica Chastain;Kate Mara;Jeff Daniels
2,2,Terminator Genisys,2015.0,Alan Taylor,Laeta Kalogridis;Patrick Lussier,Arnold Schwarzenegger;Jason Clarke;Emilia Clarke;Jai Courtney
3,3,Mad Max: Fury Road,2015.0,George Miller,George Miller;Nick Lathouris;Brendan McCarthy,Tom Hardy;Charlize Theron;Hugh Keays-Byrne;Nicholas Hoult
4,4,San Andreas,2015.0,Brad Peyton,Carlton Cuse;Andre Fabrizio;Jeremy Passmore,Alexandra Daddario;Dwayne Johnson;Carla Gugino;Archie Panjabi
5,5,Southpaw,2015.0,Antoine Fuqua,Kurt Sutter;Richard Wenk,Jake Gyllenhaal;Rachel McAdams;Forest Whitaker;Oona Laurence
6,6,Tomorrowland,2015.0,Brad Bird,Brad Bird;Damon Lindelof;Jeff Jensen,Britt Robertson;George Clooney;Raffey Cassidy;Thomas Robinson
7,7,Avengers: Age of Ultron,2015.0,Joss Whedon,Joss Whedon,Robert Downey Jr.;Chris Evans;Chris Hemsworth;Mark Ruffalo
8,8,Pixels,2015.0,Chris Columbus,Tim Herlihy;Adam Sandler;Timothy Dowling;Patrick Jean,Adam Sandler;Michelle Monaghan;Peter Dinklage;Josh Gad
9,9,Minions,2015.0,Kyle Balda;Pierre Coffin,Brian Lynch,Pierre Coffin;Sandra Bullock;Jon Hamm;Katy Mixon
10,10,Inside Out,2015.0,Pete Docter;Ronaldo Del Carmen,Pete Docter;Meg LeFauve;Ronaldo Del Carmen;Josh Cooley,Amy Poehler;Mindy Kaling;Bill Hader;Phyllis Smith
11,11,Interstellar,2014.0,Christopher Nolan,Christopher Nolan;Jonathan Nolan,Matthew McConaughey;Anne Hathaway;Jessica Chastain;Michael Caine
12,12,Maze Runner: The Scorch Trials,2015.0,Wes Ball,James Dashner;T.S. Nowlin,Dylan O'Brien;Kaya Scodelario;Thomas Brodie-Sangster;Giancarlo Esposito
13,13,Ant-Man,2015.0,Peyton Reed,Adam McKay;Edgar Wright;Joe Cornish;Paul Rudd,Paul Rudd;Michael Douglas;Evangeline Lilly;Corey Stoll
14,14,Eddie Izzard: Glorious,1997.0,Peter Richardson,Eddie Izzard,Eddie Izzard
15,15,Insurgent,2015.0,Robert Schwentke,Brian Duffield;Akiva Goldsman;Veronica Roth;Mark Bomback,Shailene Woodley;Theo James;Kate Winslet;Ansel Elgort
16,16,Hotel Transylvania 2,2015.0,Genndy Tartakovsky,Dan Hageman;Kevin Hageman,Adam Sandler;Kevin James;Steve Buscemi;Selena Gomez
17,17,The Hunger Games: Mockingjay - Part 1,2014.0,Francis Lawrence,Suzanne Collins;Danny Strong;Peter Craig,Jennifer Lawrence;Josh Hutcherson;Liam Hemsworth;Woody Harrelson
18,18,Big Hero 6,2014.0,Don Hall;Chris Williams,Joseph Mateo;Dan Gerson;Robert L. Baird;Jordan Roberts,Scott Adsit;Ryan Potter;Daniel Henney;T.J. Miller
19,19,The Hobbit: The Battle of the Five Armies,2014.0,Peter Jackson,J.R.R. Tolkien;Peter Jackson;Fran Walsh;Philippa Boyens;Guillermo del Toro,Martin Freeman;Ian McKellen;Richard Armitage;Ken Stott
20,20,Spy,2015.0,Paul Feig,Paul Feig,Melissa McCarthy;Jude Law;Jason Statham;Rose Byrne
21,21,Kingsman: The Secret Service,2015.0,Matthew Vaughn,Jane Goldman;Matthew Vaughn,Taron Egerton;Colin Firth;Samuel L. Jackson;Michael Caine
22,22,Paper Towns,2015.0,Jake Schreier,Scott Neustadter;Michael H. Weber;John Green,Nat Wolff;Cara Delevingne;Halston Sage;Caitlin Carver
23,23,Mission: Impossible – Rogue Nation,2015.0,Christopher McQuarrie,Drew Pearce;Will Staples,Tom Cruise;Jeremy Renner;Simon Pegg;Rebecca Ferguson
24,24,Guardians of the Galaxy,2014.0,James Gunn,Nicole Perlman;James Gunn,Chris Pratt;Zoe Saldana;Dave Bautista;Vin Diesel
25,25,Jupiter Ascending,2015.0,Lana Wachowski;Andy Wachowski,Andy Wachowski;Lana Wachowski,Mila Kunis;Channing Tatum;Sean Bean;Eddie Redmayne
26,26,The Maze Runner,2014.0,Wes Ball,James Dashner;Grant Pierce Myers;Noah Oppenheim;T.S. Nowlin,Dylan O'Brien;Aml Ameen;Ki Hong Lee;Blake Cooper
27,27,John Wick,2014.0,Chad Stahelski;David Leitch,Derek Kolstad,Keanu Reeves;Michael Nyqvist;Alfie Allen;Willem Dafoe
28,28,Furious 7,2015.0,James Wan,Chris Morgan,Vin Diesel;Paul Walker;Jason Statham;Michelle Rodriguez
29,29,Ted 2,2015.0,Seth MacFarlane,Seth MacFarlane;Alec Sulkin;Wellesley Wild,Mark Wahlberg;Seth MacFarlane;Amanda Seyfried;Jessica Barth
...,...,...,...,...,...,...
9788,9985,Illegally Yours,1988.0,Peter Bogdanovich,NaN,Rob Lowe;Colleen Camp;Kenneth Mars;Kim Myers
9789,9986,Bill Hicks Hosts the Adult Video Awards,1990.0,NaN,Bill Hicks,Bill Hicks
9790,9987,Death Dimension,1978.0,Al Adamson,Harry Hope,Jim Kelly;Harold Sakata;George Lazenby;Terry Moore
9791,9988,Funny About Love,1990.0,Leonard Nimoy,Bob Greene;Norman Steinberg,Gene Wilder;Christine Lahti;Mary Stuart Masterson;Robert Prosky
9792,9989,George Carlin: Carlin at Carnegie,1982.0,Steven J. Santos,George Carlin,George Carlin
9793,9991,Aşık Oldum,1985.0,Ertem Eğilmez,NaN,Şener Şen;Nevra Serezli;Ayşen Gruda;Erdal Özyağcılar
9794,9992,Sangham,1988.0,Joshi,Dennis Joseph,Mammootty;Thilakan;Seema;Parvathy
9795,9993,The Legend of the Golden Gun,1979.0,Alan J. Levi,James D. Parriott,Jeff Osterhage;Carl Franklin;Robert Davi;Keir Dullea
9796,9994,Unconquered,1989.0,Dick Lowry,Pat Conroy;Martin Chitwood,Peter Coyote;Dermot Mulroney;Tess Harper;Jenny Robertson
9797,9995,Christopher Columbus,1985.0,Alberto Lattuada,Alberto Lattuada;Laurence Heath;Adriano Bolzoni;Tullio Pinelli,Gabriel Byrne;Max von Sydow;Oliver Reed;Faye Dunaway
9798,9996,NaN,NaN,NaN,NaN,NaN
9799,9997,Lady of Csejte,2015.0,Andrei Konst,Matthew Jacobs,Svetlana Khodchenkova;Pavel Derevyanko;Isabelle Allen;Claudiu Trandafir
9800,9998,The Outsider,2014.0,Brian A Miller,Brian A Miller;Craig Fairbrass,Jason Patric;Craig Fairbrass;James Caan;Shannon Elizabeth
9801,9999,Mr. Holland's Opus,1995.0,Stephen Herek,Patrick Sheane Duncan,Richard Dreyfuss;Glenne Headly;Jay Thomas;Olympia Dukakis
9802,10000,Kill Theory,2008.0,Chris Moore,Kelly C. Palmer,Don McManus;Ryanne Duzich;Teddy Dunn;Daniel Franzese
9803,10001,009-1: The End of the Beginning,2013.0,Koichi Sakamoto,Shôtarô Ishinomori;Kei'ichi Hasegawa,Mayuko Iwasa;Minehiro Kinomoto;Nao Nagasawa;Mao Ichimichi
9804,10002,Car Wash,1976.0,Michael Schultz,Joel Schumacher,Richard Pryor;Franklyn Ajaye;George Carlin;Darrow Igus
9805,10003,Lost City Raiders,2008.0,Jean de Segonzac,Torsten Dewi,James Brolin;Ian Somerhalder;Bettina Zimmermann;Jamie Thomas King
9806,10004,Donovan's Reef,1963.0,John Ford,Edmund Beloin;James Michener;Frank S. Nugent;James Edward Grant,John Wayne;Lee Marvin;Jack Warden;Elizabeth Allen
9807,10005,The End of the Tour,2015.0,James Ponsoldt,Donald Margulies,Jason Segel;Jesse Eisenberg;Anna Chlumsky;Mamie Gummer
9808,10006,The Anniversary Party,2001.0,Alan Cumming;Jennifer Jason Leigh,Jennifer Jason Leigh;Alan Cumming,Alan Cumming;Jennifer Jason Leigh;John Benjamin Hickey;Parker Posey
9809,10007,Ali: Fear Eats the Soul,1974.0,Rainer Werner Fassbinder,Rainer Werner Fassbinder,Brigitte Mira;El Hedi ben Salem;Barbara Valentin;Irm Hermann
9810,10008,Naked Lunch,1991.0,David Cronenberg,William S. Burroughs;David Cronenberg,Peter Weller;Judy Davis;Ian Holm;Julian Sands
9811,10009,Rio Grande,1950.0,John Ford,James Kevin McGuinness;James Warner Bellah,John Wayne;Maureen O'Hara;Ben Johnson;Claude Jarman Jr.
9812,10011,The Swan Princess: A Royal Family Tale,2014.0,Richard Rich,Brian Nissen;Richard Rich,Elle Deets;Joseph Medrano; Doug Stone;Yuri Lowenthal
9813,10012,The Con Artists,2014.0,HongSeon Kim,NaN,Woo-bin Kim;Lee Hyun-woo;Kim Yeong-cheol;Jo Yoon-hee
9814,10013,The Annunciation,1984.0,András Jeles,András Jeles,Péter Bocsor;Júlia Mérő;Eszter Gyalog;György Belme
9815,10014,Gigi,1958.0,Vincente Minnelli,Alan Jay Lerner;Colette,Leslie Caron;Maurice Chevalier;Louis Jourdan;Hermione Gingold
9816,10015,Pokémon the Movie: Genesect and the Legend Awakened,2013.0,Kunihiko Yuyama,NaN,Sarah Natochenny;Eileen Stevens;Jason Griffith;Jason Flores Contreras
9817,10016,Guyver: Dark Hero,1994.0,Steve Wang,Steve Wang,David Hayter;Kathy Christopherson;Bruno Giannotta;Stuart Weiss

# 2. Profiling the tables

Before performing the join, we may want to profile the tables to 
know about the characteristics of the attributes. This can help identify:

a) unique attributes in the table which can be used as key attribute when performing 
   the join. A key attribute is needed to uniquely identify a tuple. 
   
b) the number of missing values present in each attribute. This can 
   help you in deciding the attribute on which to perform the join. 
   For example, an attribute with a lot of missing values may not be a good 
   join attribute. Further, based on the missing value information you 
   need to decide on how to handle missing values when performing the join 
   (See the section below on 'Handling missing values' to know more about
   the options available for handling missing values when performing the join).
   
You can profile the attributes in a table using the following command:

In [37]:
# profile attributes in table A
ssj.profile_table_for_join(A)

,Unique values,Missing values,Comments
Attribute,,,
A.id,7 (100.0%),0 (0.0%),This attribute can be used as a key attribute.
A.name,7 (100.0%),1 (14.29%),Joining on this attribute will ignore 1 (14.29%) rows.
A.birth_year,6 (85.71%),0 (0.0%),
A.hourly_wage,7 (100.0%),0 (0.0%),This attribute can be used as a key attribute.
A.address,7 (100.0%),0 (0.0%),This attribute can be used as a key attribute.
A.zipcode,3 (42.86%),1 (14.29%),Joining on this attribute will ignore 1 (14.29%) rows.

In [38]:
# profile attributes in table B
ssj.profile_table_for_join(B)

,Unique values,Missing values,Comments
Attribute,,,
B.id,8 (100.0%),0 (0.0%),This attribute can be used as a key attribute.
B.name,8 (100.0%),1 (12.5%),Joining on this attribute will ignore 1 (12.5%) rows.
B.birth_year,6 (75.0%),0 (0.0%),
B.hourly_wage,8 (100.0%),0 (0.0%),This attribute can be used as a key attribute.
B.address,8 (100.0%),0 (0.0%),This attribute can be used as a key attribute.
B.zipcode,3 (37.5%),1 (12.5%),Joining on this attribute will ignore 1 (12.5%) rows.

If the input tables does not contain any key attribute, then you need 
to create a key attribute. In the current example, both the input tables
A and B have key attributes, and hence you can proceed to the next step.
In the case the table does not have any key attribute, you can 
add a key attribute using the following command:

In [39]:
B['new_key_attr'] = range(0, len(B))
B

,B.id,B.name,B.birth_year,B.hourly_wage,B.address,B.zipcode,new_key_attr
0,b1,Mark Levene,1987,29.5,"108 Clement St, San Francisco",94107.0,0
1,b2,Bill Bridge,1986,32.0,"3131 Webster St, San Francisco",94107.0,1
2,b3,Mike Franklin,1988,27.5,"1652 Stockton St, San Francisco",94122.0,2
3,b4,Joseph Kuan,1982,26.0,"108 South Park, San Francisco",94122.0,3
4,b5,Alfons Kemper,1984,35.0,"170 Post St, Apt 4, San Francisco",94122.0,4
5,b6,Michael Brodie,1987,32.5,"133 Clement Street, San Francisco",94107.0,5
6,b7,,1990,40.0,"24th Street, San Francisco",94122.0,6
7,b8,NaN,1986,25.0,"20th Street, San Francisco",NaN,7

For the purpose of this guide, we will now join tables A and B on 
'name' attribute using edit distance measure. Next, we need to decide on what 
threshold to use for the join. For this guide, we will use a threshold of 5. 
Specifically, the join will now find tuple pairs from A and B such that 
the edit distance over the 'name' attributes is at most 5.

# 3. Performing the join

The next step is to perform the edit distance join using the following command:

In [40]:
# find all pairs from A and B such that the edit distance
# on 'name' is at most 5.
# l_out_attrs and r_out_attrs denote the attributes from the 
# left table (A) and right table (B) that need to be included in the output.

output_pairs = ssj.edit_distance_join_disk_cy(A, B, 'A.id', 'B.id', 'A.name', 'B.name', 5,2, 
                                      l_out_attrs=['A.name'], r_out_attrs=['B.name'])

AttributeError: module 'py_stringsimjoin' has no attribute 'edit_distance_join_disk_cy'

In [11]:
len(output_pairs)

4

In [12]:
# examine the output pairs
output_pairs

   _id l_A.id r_B.id          l_A.name       r_B.name  _sim_score
0    0     a3     b2    William Bridge    Bill Bridge         4.0
1    1     a2     b3  Michael Franklin  Mike Franklin         4.0
2    2     a5     b5   Alphonse Kemper  Alfons Kemper         3.0
3    3     a6     b7                                          0.0

# Handling missing values

By default, pairs with missing values are not included
in the output. This is because a string with a missing value
can potentially match with all strings in the other table and 
hence the number of output pairs can become huge. If you want 
to include pairs with missing value in the output, you need to 
set the **allow_missing** flag to True, as shown below:

In [13]:
output_pairs = ssj.edit_distance_join(A, B, 'A.id', 'B.id', 'A.name', 'B.name', 5, allow_missing=True, 
                                      l_out_attrs=['A.name'], r_out_attrs=['B.name'])

0%   100%
[#######] | ETA: 00:00:00
Total time elapsed: 00:00:00
0%  100%
[##] | ETA: 00:00:00

Finding pairs with missing value...

Total time elapsed: 00:00:00

In [14]:
output_pairs

    _id l_A.id r_B.id          l_A.name        r_B.name  _sim_score
0     0     a3     b2    William Bridge     Bill Bridge         4.0
1     1     a2     b3  Michael Franklin   Mike Franklin         4.0
2     2     a5     b5   Alphonse Kemper   Alfons Kemper         3.0
3     3     a6     b7                                           0.0
0     4     a7     b1               NaN     Mark Levene         NaN
1     5     a7     b2               NaN     Bill Bridge         NaN
2     6     a7     b3               NaN   Mike Franklin         NaN
3     7     a7     b4               NaN     Joseph Kuan         NaN
4     8     a7     b5               NaN   Alfons Kemper         NaN
5     9     a7     b6               NaN  Michael Brodie         NaN
6    10     a7     b7               NaN                         NaN
7    11     a7     b8               NaN             NaN         NaN
8    12     a1     b8       Kevin Smith             NaN         NaN
9    13     a2     b8  Michael Franklin             NaN         NaN
10   14     a3     b8    William Bridge             NaN         NaN
11   15     a4     b8      Binto George             NaN         NaN
12   16     a5     b8   Alphonse Kemper             NaN         NaN
13   17     a6     b8                               NaN         NaN

# Enabling parallel processing

If you have multiple cores which you want to exploit for performing the 
join, you need to use the **n_jobs** option. If n_jobs is -1, all CPUs 
are used. If 1 is given, no parallel computing code is used at all, 
which is useful for debugging and is the default option. For n_jobs below 
-1, (n_cpus + 1 + n_jobs) are used (where n_cpus is the total number of 
CPUs in the machine). Thus for n_jobs = -2, all CPUs but one are used. If 
(n_cpus + 1 + n_jobs) becomes less than 1, then no parallel computing code 
will be used (i.e., equivalent to the default).

The following command exploits all the cores available to perform the join:

In [15]:
output_pairs = ssj.edit_distance_join(A, B, 'A.id', 'B.id', 'A.name', 'B.name', 5, 
                                      l_out_attrs=['A.name'], r_out_attrs=['B.name'], n_jobs=-1)

0%   100%
[#######] | ETA: 00:00:00
Total time elapsed: 00:00:00

In [16]:
len(output_pairs)

4

You need to set n_jobs to 1 when you are debugging or you do not want 
to use any parallel computing code. If you want to execute the join as 
fast as possible, you need to set n_jobs to -1 which will exploit all 
the CPUs in your machine. In case there are other concurrent processes 
running in your machine and you do not want to halt them, then you may 
need to set n_jobs to a value below -1.

# Performing join on numeric attributes

The join method expects the join attributes to be of string type. 
If you need to perform the join over numeric attributes, then you need 
to first convert the attributes to string type and then perform the join.
For example, if you need to join 'A.zipcode' in table A with 'B.zipcode' in
table B, you need to first convert the attributes to string type using 
the following command:

In [17]:
ssj.dataframe_column_to_str(A, 'A.zipcode', inplace=True)
ssj.dataframe_column_to_str(B, 'B.zipcode', inplace=True)

/home/bhargav/Downloads/stringjoin/disk_feature/py_stringsimjoin/utils/converter.py:115: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  elif pd.np.issubdtype(col_type, pd.np.float):
/home/bhargav/Downloads/stringjoin/disk_feature/py_stringsimjoin/utils/converter.py:115: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  elif pd.np.issubdtype(col_type, pd.np.float):

True

Note that the above command preserves the NaN values while converting the numeric column to string type. Next, you can perform the join as shown below:

In [18]:
output_pairs = ssj.edit_distance_join(A, B, 'A.id', 'B.id', 'A.zipcode', 'B.zipcode', 1, 
                                      l_out_attrs=['A.zipcode'], r_out_attrs=['B.zipcode'])
output_pairs

0%   100%
[#######] | ETA: 00:00:00
Total time elapsed: 00:00:00

    _id l_A.id r_B.id l_A.zipcode r_B.zipcode  _sim_score
0     0     a1     b1       94107       94107         0.0
1     1     a3     b1       94107       94107         0.0
2     2     a1     b2       94107       94107         0.0
3     3     a3     b2       94107       94107         0.0
4     4     a2     b3       94122       94122         0.0
5     5     a4     b3       94122       94122         0.0
6     6     a5     b3       94122       94122         0.0
7     7     a6     b3       94122       94122         0.0
8     8     a2     b4       94122       94122         0.0
9     9     a4     b4       94122       94122         0.0
10   10     a5     b4       94122       94122         0.0
11   11     a6     b4       94122       94122         0.0
12   12     a2     b5       94122       94122         0.0
13   13     a4     b5       94122       94122         0.0
14   14     a5     b5       94122       94122         0.0
15   15     a6     b5       94122       94122         0.0
16   16     a1     b6       94107       94107         0.0
17   17     a3     b6       94107       94107         0.0
18   18     a2     b7       94122       94122         0.0
19   19     a4     b7       94122       94122         0.0
20   20     a5     b7       94122       94122         0.0
21   21     a6     b7       94122       94122         0.0

# Additional options

You can find all the options available for the edit distance 
join function using the **help** command as shown below:

In [19]:
help(ssj.edit_distance_join)

Help on function edit_distance_join in module py_stringsimjoin.join.edit_distance_join:

edit_distance_join(ltable, rtable, l_key_attr, r_key_attr, l_join_attr, r_join_attr, threshold, comp_op='<=', allow_missing=False, l_out_attrs=None, r_out_attrs=None, l_out_prefix='l_', r_out_prefix='r_', out_sim_score=True, n_jobs=1, show_progress=True, tokenizer=<py_stringmatching.tokenizer.qgram_tokenizer.QgramTokenizer object at 0x7faef034ab00>)

# More information

Similar to edit distance measure, you can use the package to perform 
join using other measures such as cosine, Dice, Jaccard, overlap and 
overlap coefficient. For measures such as TF-IDF which are not 
directly supported, you can perform the join using the filters provided 
in the package. To know more about other join methods as well as how to 
use filters, refer to the how-to guide (available from the 
[package homepage](https://sites.google.com/site/anhaidgroup/projects/py_stringsimjoin)).